[submodule "homepage"]
	path = roles/homepage
	url = https://github.com/ansible-selfhosted/selfhosted.services.homepage.git
	branch = main
[submodule "gitea"]
	path = roles/gitea
	url = https://github.com/ansible-selfhosted/selfhosted.services.gitea.git
	branch = main
[submodule "jellyfin"]
	path = roles/jellyfin
	url = https://github.com/ansible-selfhosted/selfhosted.services.jellyfin.git
	branch = main
