[submodule "homepage"]
	path = roles/homepage
	url = https://github.com/ansible-selfhosted/selfhosted.services.homepage.git
	branch = main
[submodule "gitea"]
	path = roles/gitea
	url = https://github.com/ansible-selfhosted/selfhosted.services.gitea.git
	branch = main
[submodule "jellyfin"]
	path = roles/jellyfin
	url = https://github.com/ansible-selfhosted/selfhosted.services.jellyfin.git
	branch = main
[submodule "frigate"]
	path = roles/frigate
	url = https://github.com/ansible-selfhosted/selfhosted.services.frigate.git
	branch = main
[submodule "sonarr"]
	path = roles/sonarr
	url = https://github.com/ansible-selfhosted/selfhosted.services.sonarr.git
	branch = main
[submodule "radarr"]
	path = roles/radarr
	url = https://github.com/ansible-selfhosted/selfhosted.services.radarr.git
	branch = main
[submodule "lidarr"]
	path = roles/lidarr
	url = https://github.com/ansible-selfhosted/selfhosted.services.lidarr.git
	branch = main
[submodule "prowlarr"]
	path = roles/prowlarr
	url = https://github.com/ansible-selfhosted/selfhosted.services.prowlarr.git
	branch = main
[submodule "readarr"]
	path = roles/readarr
	url = https://github.com/ansible-selfhosted/selfhosted.services.readarr.git
	branch = main
[submodule "jellyseerr"]
	path = roles/jellyseerr
	url = https://github.com/ansible-selfhosted/selfhosted.services.jellyseerr.git
	branch = main
[submodule "bookstack"]
	path = roles/bookstack
	url = https://github.com/ansible-selfhosted/selfhosted.services.bookstack.git
	branch = main
